.logo {
  grid-area: logo;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 10vw;
  height: 10vh;
  background: #fff;
  color: #000
}

.nav {
  grid-area: nav;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 90vw;
  height: 10vh;
  background: rgb(255, 255, 255)
}

.nav .social {
  display:flex;
  align-items: center;
  justify-content: center;
  margin-left: 1rem;
  width: 7rem;
  height: 3rem;
}

.nav .options {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 16rem;
  height: 5rem;
}

.nav .options .optionsFast {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 5rem;
}

.nav .profileCard {
  margin-left: 5px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 12rem;
  height: 3rem;
  background: rgb(243, 243, 243);
  border-radius: 10px;
  cursor: pointer;
}

.nav .profileCard h1 {
  margin-left: 1rem;
  font-weight: 400;
  font-size: 1rem;
}

.nav .profileCard img {
  margin-right: 1rem;
  width: 2.5rem;
  height: 2.5rem;
  border-radius: 50%;
}

.content {
  grid-area: content;
  width: 90vw;
  height: 90vh;
  background: #ccc
}

.sidenav {
  grid-area: sidenav;
  width: 10vw;
  height: 100vh;
  background: rgb(15, 5, 70)
}

.footer {
  grid-area: footer;
  background: rgb(1, 62, 87);
}

.gridTemplateAreas {
  width: 100vw;
  height: 100vh;
  display: grid;
  grid-template-areas: 
    "logo nav nav"
    "sidenav content content"
    "sidenav footer footer"
  ;
}