.login {
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  gap: 2rem;
}

.login {
  display: flex;
  content: '';
  background: url('../../Assets/img/butterflies.jpg') no-repeat center center;
  background-size: cover;
}

.forms {
  display: flex;
  flex-direction: column;
  justify-content:space-between;
  align-items: center;
  background: #FFFFFF;
  max-width: 35rem;
  padding: 2rem;
  border-radius: 1rem;
}

@media (max-width: 40rem) {
  .login{
    grid-template-columns: 1fr;
  }
  .login::before {
    display: none;
  }
  .forms {
    max-width: 100%;
  }
}