.button {
  font-size: 1rem;
  text-align: center;
  border: none;
  border-radius: 3.125rem;
  background: rgba(100, 182, 172, 0.79);
  color: #FFFFFF;
  min-width: 22.56rem;
  height: 3.375rem;
  box-sizing: border-box;
  cursor: pointer;
  transition: 0.1s;
}

.button:hover,
.button:focus {
  outline: none;
  box-shadow: 0 0 0 1px rgba(106, 199, 188, 0.79), 0 0 0 1px rgba(42, 196, 178, 0.79);
}

.button:disabled {
  opacity: .5;
  cursor: wait;
}