.wrapper {
  margin-bottom: 2rem;
}

.input{
  border: 1px solid #BDBDBD;
  display: block;
  width: 100%;
  font-size: 1rem;
  padding: .8rem;
  border-radius: 3.125rem;
  transition: 0.2s;
}

.input:focus,
.input:hover {
  outline: none;
  border-color: #adadad;
  background: #eee;
  box-shadow: 0 0 0 1px rgb(179, 179, 179);
}

.label {
  display: block;
  font-size: 1rem;
  line-height: 1;
  padding-bottom: 0.5rem;
}

.error {
  color: #f31;
  font-size: 0.875rem;
  margin-top: 0.25rem;
}